{% load static %}
<style>
    html{
		overflow-x: hidden;
	}
	.box-top{
		height: 200px;
		background: url({% static 'picture/index/03.png' %}) center center / cover no-repeat;
		color: #FFFFFF;
	}
	.box-top img{
		width: 200px;
	}
	.search-box{
	    position: absolute;
	    top: 100px;
	    left: 700px;
	    display: block;
	}
	.search-box .searchClass{
	  border: 1px solid #c5c5c5;
	  border-radius: 20px;
	  background: #f4f4f4;
      width: 500px;
      color: #333333;
	}
	.search-box .searchicno{
        font-size: 17px;
        margin: 0px 3px;
	}
	.searchClass:hover{
	  border: 1px solid #D5E3E8;
	  background: #fff;
	}
</style>
{% include 'bgimg.html' %}
<div class="could-hide">
    <div class="box-top">
        <img src="{% static 'picture/index/02.png' %}"/>
        <div class="search-box">
                <input type="search" class="searchClass"/>
                <span class="searchicno lfsbtn shbtn"><i class="fa fa-search"></i></span>
        </div>
    </div>
    <div class="navbar navbar-inverse">
        <div class="container">

            <div class="navbar-header">
                <a href="{% url 'libfront:index' %}" class="navbar-brand logo" title="书苑">
                    书苑
                </a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation" id="nav-header">
                <ul class="nav navbar-nav" id="ulbar">
                    <li id="headurl" class="hidden">{% url "libfront:category" 1 1 %}</li>
                    <li class="fake-li"><a>冒险</a></li>
                    <li class="fake-li"><a>惊悚</a></li>
                    <li class="fake-li"><a>考古</a></li>
                    <li class="fake-li"><a>天文</a></li>
                    <li class="fake-li"><a>心理</a></li>
                    <li class="fake-li"><a>美学</a></li>
                    <li class="fake-li"><a>法律</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">语言<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="dropdownbar">

                        </ul>
                    </li>

                    <li class="dropdown"><a class="dropdown-toggle"
                                            data-toggle="dropdown">排行榜<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'libfront:ranklist' 'score' 1 %}">评分榜</a></li>
                            <li><a href="{% url 'libfront:ranklist' 'comment_num' 1 %}">评论榜</a></li>
                            <li><a href="{% url 'libfront:ranklist' 'c_time' 1 %}">最新入库</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'libfront:categorys' %}">全部分类</a></li>
                    {% if request.session.user_type == 1 %}
                    <li><a href="{% url 'lm:index' %}">秘密基地</a></li>
                    {% endif %}
                    {% if request.session.user_type == 0 %}
                    <li><a href="{% url 'lm:index' %}">秘密基地</a></li>
                    {% endif %}
                    {#                <li><a href="/admin">Admin</a></li>#}
                    {#                <li><a href="/lm">BACKNED</a></li>#}
                    {#                <li><a href="#" onclick="hideall()">欣赏壁纸</a></li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.session.has_login %}
                        {# 已登录则显示头像下拉框 #}
                        <li class="dropdown"><a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown"><i
                                class="fa fa-user fa-fw"></i>{{ request.session.nickname }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'libfront:userdetail'  request.session.user_id %}">
                                    <i class="fa fa-info fa-fw"></i>个人资料</a>
                                </li>

                                <li>
                                    <a href="{% url 'libfront:logout' %}">
                                        <i class="fa fa-power-off fa-fw"></i>退出登录
                                    </a>
                                </li>
                                {#                            {% if request.session.user_type != 2 %}#}
                                {#                                <li>#}
                                {#                                    <a href="{% url 'libfront:logout' %}">#}
                                {#                                        <i class="fa fa-power-off fa-fw"></i>退出登录#}
                                {#                                    </a>#}
                                {#                                </li>#}
                                {#                            {% endif %}#}
                            </ul>
                        </li>
                    {% else %}
                        {#未登录则显示注册登录按钮#}
                        <li><a id="loginbtn" href="{% url 'libfront:login' %}">登录/注册</a></li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript">
function loadheaderbar() {
    $.ajax({
        url: "/lf/operation",
        method: "POST",
        data: {
            operation: "load_headerbar"
        },
        success: function (data) {
            var catg1 = data["catg1"],
                catg2 = data["catg2"],
                href = $("#headurl").text();
            console.log(catg1)
            var html1 = "",
                html2 = "";
            for (var i = 0; i < catg1.length; i++) {
                var name = catg1[i][0], id = catg1[i][1];
                html1 += '<li><a href="' + href.substring(0, href.length - 3) + id + '/1">' + name + "</a></li>";
            }
            $(".fake-li").hide();
            $("#ulbar").prepend(html1);
            for (var i = 0; i < catg2.length; i++) {
                var name = catg2[i][0], id = catg2[i][1];
                html2 += '<li><a href="' + href.substring(0, href.length - 3) + id + '/1">' + name + "</a></li>";
            }
            $("#dropdownbar").prepend(html2);
        },
        error: function () {

        }
    })
}
loadheaderbar()
</script>
<div class="clear"></div>

{% if request.session.change_password_required %}

    <div class="alert alert-warning text-center">
        管理员通知：请及时更改密码，更改密码前无法使用本账号。</br>
        <p id="idontknow">
            <span id="time">3</span>
            秒后自动
            <a href="{% url 'libfront:userdetail' request.session.user_id %}">跳转</a>
            ,若无反应请手动点击。
        </p>
    </div>

    <script type="text/javascript">
        var count = 3;
        url = window.location.pathname;
        burl = "/user/" + {{ request.session.user_id }};
        console.log(url === burl);

        //一开始就执行
        if (url !== burl) {
            window.setInterval("refresh()", 1000);
        } else {
            document.getElementById("idontknow").style.display = "None";
        }

        function refresh() {
            if (count > 1) {
                //修改span中的数字
                count -= 1;
                document.getElementById("time").innerText = count;
            } else {
                location.href = "{% url "libfront:userdetail" request.session.user_id %}";
            }
        }
    </script>
{% endif %}


<script>
    var has_login = false;
    {% if request.session.has_login %}
        has_login = true;
    {% endif %}

    var lastTime = new Date().getTime();
    var currentTime = new Date().getTime();
    var expiretime = 1000 * 10;//过期时间设置

    $(function () {
        /* 鼠标移动事件 更新上次操作时间 */
        $(document).mouseover(function () {
            lastTime = new Date().getTime();
        });
    });

    function autoLogout() {
        if (has_login) {
            currentTime = new Date().getTime();
            if (currentTime - lastTime > expiretime) {
                alert("检测到连续%s秒无动作，即将自动退出".replace("%s", expiretime / 1000));
                has_login = false;
                window.location.replace("/lf/logout");
            }
        }
    }

    /* 定时器
     * 间隔1秒检测是否长时间未操作页面
     */
    window.setInterval(autoLogout, 1000);
</script>