{% load static %}
<link href="{% static 'libFront/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'libFront/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'libFront/css/main.css' %}" rel="stylesheet">
<link href="{% static 'libFront/css/site.css' %}" rel="stylesheet">
<script src="{% static 'libFront/js/jquery191.min.js' %}"></script>
<script src="{% static 'libFront/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libFront/js/tools.js' %}"></script>