{% extends "libEnd/template.html" %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">用户信息</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length"><label>Show
                                    <select name="one_page_item_num"
                                            class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10"
                                                {% if one_page_item_num == 10 %}selected="selected"{% endif %}>10
                                        </option>
                                        <option value="25"
                                                {% if one_page_item_num == 25 %}selected="selected"{% endif %}>25
                                        </option>
                                        <option value="50"
                                                {% if one_page_item_num == 50 %}selected="selected"{% endif %}>50
                                        </option>
                                        <option value="100"
                                                {% if one_page_item_num == 100 %}selected="selected"{% endif %}>100
                                        </option>
                                    </select> entries</label></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_filter">
                                    <label>Search:</label>
                                    <input type="search" class="form-control">&nbsp;&nbsp;
                                    <button class="btn btn-default bsh lmrsbtn">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1"
                                       class="table table-bordered table-striped dataTable dtr-inline"
                                       role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th rowspan="1" colspan="1"> 书名</th>
                                        <th rowspan="1" colspan="1"> 作者</th>
                                        <th rowspan="1" colspan="1"> 出版社</th>
                                        <th rowspan="1" colspan="1"> 出版日期</th>
                                        <th rowspan="1" colspan="1"> 分类</th>
                                        <th rowspan="1" colspan="1"> 总库存</th>
                                        <th rowspan="1" colspan="1"> 当前库存</th>
                                        <th rowspan="1" colspan="1"> 操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for book in books %}
                                        <tr class="{% if forloop.counter == 0 or forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8 %}odd{% else %}even{% endif %}">
                                            <td style="display: None">{{ book.id }}</td>
                                            <td><a href="{% url "lm:bookdetail" book.id %}">{{ book.name }}</a></td>
                                            <td>
                                                <a href="{% url "lm:booksearch" book.author %}">
                                                    {{ book.author }}
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url "lm:booksearch" book.publisher %}">
                                                    {{ book.publisher }}
                                                </a>
                                            </td>
                                            <td>{{ book.pubdate }}</td>
                                            <td>
                                                {% for tag in book.categ.all %}
                                                    <a class="cm-tag"
                                                       href="{% url "lm:bookcategory" tag.id %}">{{ tag }}</a>
                                                {% endfor %}
                                            </td>
                                            <td>{{ book.stock_all }}</td>
                                            <td>{{ book.stock_now }}</td>
                                            <td>
                                                <a class="btn bg-primary"
                                                   href="{% url "lm:bookdetail" book.id %}">编辑</a>
                                                <a class="btn bg-danger bde">删除</a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1"> 书名</th>
                                        <th rowspan="1" colspan="1"> 作者</th>
                                        <th rowspan="1" colspan="1"> 出版社</th>
                                        <th rowspan="1" colspan="1"> 出版日期</th>
                                        <th rowspan="1" colspan="1"> 分类</th>
                                        <th rowspan="1" colspan="1"> 总库存</th>
                                        <th rowspan="1" colspan="1"> 当前库存</th>
                                        <th rowspan="1" colspan="1"> 操作</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        {% include "libEnd/table_page.html" %}
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

        </div>

    </div>

{% endblock %}

{% block footer %}
    <script>
        generatePageNum({{ page }}, {{ page_num }});
        $(".page-link").click(function () {
            var url = window.location.pathname;
            var one_page_item_num = $("[name=one_page_item_num]").val();
            var pg = $(this).text();
            var token = $.cookie("csrftoken");
            console.log(one_page_item_num);
            console.log(pg);
            data = {
                'object': 'book',
                'one_page_item_num': one_page_item_num,
                'page': pg,
                "X-CSRFToken": token,
            };
            postToNewTabWithJSONByjQuery(url, data);
            window.opener = null;
            window.open('', '_self');
            window.close();
        });
    </script>
{% endblock %}
