{% extends "libEnd/template.html" %}
{% load  static %}
{% block content %}
    <div class="timeline">
        <!-- Timeline time label -->
        <div class="time-label">
            <span class="bg-green">{% now "Y-m-d" %}</span>
        </div>

        <!-- Before each timeline item corresponds to one icon on the left scale -->

        <!-- Timeline item -->
        {% for cmt in comments %}
            <div>
                <p style="display: None" class="cid">{{ cmt.id }}</p>
                <i class="fas fa-comment bg-blue"></i>
                <div class="timeline-item">
                    <!-- Time -->
                    <span class="time"><i class="fas fa-clock"></i> {{ cmt.c_time }}</span>
                    <!-- Header. Optional -->
                    <h3 class="timeline-header">
                        To
                        <a href="{% url "lm:bookdetail" cmt.book.id %}">{{ cmt.book.name }}</a>
                        By
                        <a href="{% url "lm:userdetail" cmt.user.id %}">{{ cmt.user.nickname }}</a>
                    </h3>
                    <!-- Body -->
                    <div class="timeline-body">
                        {{ cmt.comment }}
                    </div>
                    <!-- Placement of additional controls. Optional -->
                    <div class="timeline-footer">
                        <a class="btn btn-primary btn-sm cps">通过</a>
                        <a class="btn btn-danger btn-sm cfl">拒绝</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- The last icon means the story is complete -->
        <div>
            <i class="fas fa-clock bg-gray"></i>
        </div>
    </div>
{% endblock %}