<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="example1_info" role="status"
             aria-live="polite">显示第 {{ start }} 至 {{ end }} 项结果，共 {{ obj_num }} 项
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers float-right">
            <ul class="pagination">
                <li class="paginate_button page-item previous" id="previous">
                    <a href="#" class="page-link"><</a></li>

                {#                                        <li class="paginate_button page-item ">#}
                {#                                            <a href="#" class="page-link">6</a>#}
                {#                                        </li>#}
                <li class="paginate_button page-item next" id="next">
                    <a href="#" class="page-link">></a></li>
            </ul>
        </div>
    </div>
</div>