{% extends "libEnd/template.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if id != 0 %}{{ user.nickname }}{% else %}新建用户-书苑(注意：普通管理员默认只能创建普通用户账号。){% endif %}</h3>
                </div>
                <!-- form start -->
                <form class="form-horizontal" id="user_form">
                    <div class="card-body">
                        <input type="hidden" name="id" id="uid" {% if id != 0 %}value="{{ user.id }}"{% endif %}>
                        <input type="hidden" name="object" value="user">
                        <input type="hidden" name="operation" value="{% if id == 0 %}create{% else %}update{% endif %}">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">账号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="account"
                                       {% if id != 0 %}value="{{ user.account }}"{% endif %}>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">昵称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="nickname"
                                       {% if id != 0 %}value="{{ user.nickname }}"{% endif %}>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">密码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="password"
                                       {% if id != 0 %}value="{{ user.password }}"{% endif %}>
                            </div>
                        </div>
                        {% if request.session.user_type == 0 %}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">用户类型</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="type">
                                        <option value="0"
                                                {% if id != 0 %}{% if user.type == 0 %}selected="selected"
                                                {% endif %}{% endif %}>超级管理员
                                        </option>
                                        <option value="1"
                                                {% if id != 0 %}{% if user.type == 1 %}selected="selected"
                                                {% endif %}{% endif %}>管理员
                                        </option>
                                        <option value="2"
                                                {% if id != 0 %}{% if user.type == 2 %}selected="selected"
                                                {% endif %}{% endif %}>普通用户
                                        </option>
                                        <option value="3"
                                                {% if id != 0 %}{% if user.type == 3 %}selected="selected"
                                                {% endif %}{% endif %}>逾期用户
                                        </option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="email"
                                       {% if id != 0 %}value="{{ user.email }}"{% endif %}>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">性别</label>
                            <label class="col-sm-2">
                                <input type="radio" name="gender"
                                        {% if user.gender == "man" %} checked=""
                                        {% endif %} value="man">
                                男
                            </label>
                            <label class="col-sm-2">
                                <input type="radio" name="gender"
                                        {% if user.gender == "woman" %} checked=""
                                        {% endif %} value="woman">
                                女
                            </label>
                            <label class="col-sm-2">
                                <input type="radio" name="gender"
                                        {% if user.gender == "unknown" %} checked=""
                                        {% endif %} value="unknown">
                                保密
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">生日</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="birthday"
                                       {% if id != 0 %}value="{{ user.birthday | date:"Y-m-d" }}"{% endif %}>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">注册日期</label>
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" name="c_time"
                                       {% if id != 0 %}value="{{ user.c_time | date:"Y-m-d\TH:i" }}"{% endif %}>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">上次登录时间</label>
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" name="l_time"
                                       {% if id != 0 %}value="{{ user.l_time | date:"Y-m-d\TH:i" }}"{% endif %}>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">个人简介</label>
                            <div class="col-sm-10">
                                <textarea class="form-control"
                                          name="description">{% if id != 0 %}
                                    {{ user.description }}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">备注</label>
                            <div class="col-sm-10">
                                <textarea class="form-control"
                                          name="remark">{% if id != 0 %}{{ user.remark }}{% endif %}</textarea>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="card-footer">
                    {% if id != 0 %}
                        <button class="btn {% if user.change_password_required == True %} btn-info{% else %} btn-danger{% endif %} upcrd">
                            {% if user.change_password_required %}
                                撤销更改密码
                            {% else %}
                                通知更改密码
                            {% endif %}
                        </button>
                        <button class="btn btn-danger ude">删除用户</button>
                        <button class="btn btn-primary float-right ucph">确认修改</button>
                        <button class="btn btn-primary float-right cgup">放弃修改</button>
                    {% else %}
                        <button class="btn btn-primary float-right uce">提交</button>
                        <button class="btn btn-primary float-right cgup">重置</button>
                    {% endif %}
                </div>

            </div>


        </div>

    </div>

{% endblock %}